In [1]:
# Credits to Mondrejevski et al. FLICU (2022)
# WARNING - In Progress

import psycopg2
from datetime import timedelta
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import pickle
import tensorflow as tf

import warnings
warnings.filterwarnings("ignore")

In [2]:
# set SIRS FILTER parameters
sirs_window_size = 5
minNoInterpolCrit = 2
maxInterpolHours = 3

# set WINDOWING parameters
LOOKBACK = [5, 10, 24] # lookback (5h, 10h, 24h)
LOOKAHEAD =  [3, 6, 12] # lookahead (3h, 6h, 12h)
columns_pred = ['sysbp','diasbp','heartrate','tempc','resprate','wbc','ph','spo2','admission_age'] # parameters to use for the prediction task
columns_pred_idx = [x for x in range(len(columns_pred))]

window_loc='windows_trial/'
#-----

## Read in data
Prerequisites:
1. Build postgres-functions (\i path_to_file/postgres-functions.sql)
2. Build flicu_icustay_detail (\i path_to_file/flicu_icustay_detail.sql)
3. Build pivoted_vital (\i path_to_file/pivoted_vital.sql)
4. Build flicu_pivoted_lab (\i path_to_file/flicu_pivoted_lab.sql) (alternatively, build pivoted_lab if lab values before ICU admission are needed)
5. Build sepsis_3_code (\i path_to_file/sepsis_3_code.sql)

In [3]:
# Connect to db
conn = psycopg2.connect(host="localhost", port = 5432, database="mimic", user="postgres", password="postgres") 
cur = conn.cursor() 

# Read in table with patients & admissions (inner join on subject_id) and icu_stays (inner joinon subject_id and hadm_id)
icustay_details = pd.read_sql_query("SELECT * FROM mimiciii.flicu_icustay_detail;", conn)

# Read in vital signs
pivoted_vital = pd.read_sql_query("SELECT * FROM mimiciii.pivoted_vital;", conn)

# Read in lab measurements
# Use flicu_pivoted_lab (as it only takes the lab tests during ICU stay) !!!!!!!!!!!!!!!<<<<<
#query = "SELECT * FROM mimiciii.flicu_pivoted_lab;"
query = "SELECT * FROM mimiciii.pivoted_lab;"
# Alternative:  Use the lab values recorded previous to the ICU stay (although during same hospital admission!), 
# then sample them  (8h intervalls) and then forward fill plus cap at either icu admission time of first vital sign recorded
#query = "SELECT * FROM mimiciii.pivoted_lab;"
pivoted_lab = pd.read_sql_query(query, conn)

# Read in sepsis/severe sepsis/septic shock diagnosis
pivoted_sepsis = pd.read_sql_query("SELECT * FROM mimiciii.sepsis_3_code;", conn)
pivoted_sepsis_list = pivoted_sepsis.query('sepsis==1')['icustay_id'].to_numpy()

# Close the cursor and connection to so the server can allocate bandwidth to other requests
cur.close()
conn.close()

In [4]:
print(icustay_details.info())
print(icustay_details.head(3))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61051 entries, 0 to 61050
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   subject_id                   61051 non-null  int64
 1   hadm_id                      61051 non-null  int64
 2   icustay_id                   61051 non-null  int64
 3   gender                       61051 non-null  object
 4   dod                          23889 non-null  datetime64[ns]
 5   admittime                    61051 non-null  datetime64[ns]
 6   dischtime                    61051 non-null  datetime64[ns]
 7   los_hospital                 61051 non-null  float64
 8   admission_age                61051 non-null  float64
 9   ethnicity                    61051 non-null  object
 10  ethnicity_grouped            61051 non-null  object
 11  hospital_expire_flag         61051 non-null  int64
 12  hospstay_seq                 61051 non-null  int64
 13  first_hosp_stay              61051 non-null  bool
 14  intime                       61051 non-null  datetime64[ns]
 15  outtime                      61041 non-null  datetime64[ns]
 16  los_icu                      61041 non-null  float64
 17  icustay_seq                  61051 non-null  int64
 18  first_icu_stay_current_hosp  61051 non-null  bool
 19  first_icu_stay_patient       61051 non-null  bool
 20  first_careunit               61051 non-null  object
 21  deathtime_icu                4504 non-null   datetime64[ns]
 22  label_death_icu              61051 non-null  int64
dtypes: bool(3), datetime64[ns](6), float64(3), int64(7), object(4)
memory usage: 9.5+ MB
None
   subject_id  hadm_id  icustay_id gender        dod           admittime  \
0           2   163353      243653      M        NaT 2138-07-17 19:04:00
1           3   145834      211552      M 2102-06-14 2101-10-20 19:08:00
2           4   185777      294638      F        NaT 2191-03-16 00:28:00

            dischtime  los_hospital  admission_age ethnicity  ...  \
0 2138-07-21 15:48:00      3.863889       0.002434     ASIAN  ...
1 2101-10-31 13:58:00     10.784722      76.526792     WHITE  ...
2 2191-03-23 18:41:00      7.759028      47.845047     WHITE  ...

  first_hosp_stay              intime             outtime   los_icu  \
0            True 2138-07-17 21:20:07 2138-07-17 23:32:21  0.091829
1            True 2101-10-20 19:10:11 2101-10-26 20:43:09  6.064560
2            True 2191-03-16 00:29:31 2191-03-17 16:46:31  1.678472

  icustay_seq first_icu_stay_current_hosp  first_icu_stay_patient  \
0           1                        True                    True
1           1                        True                    True
2           1                        True                    True

   first_careunit  deathtime_icu  label_death_icu
0            NICU            NaT                0
1            MICU            NaT                0
2            MICU            NaT                0

[3 rows x 23 columns]

TEST: It should be 46428 patients and 61051 admissions

In [5]:
data_1 = icustay_details.copy()
print("Number of patients: ", data_1['subject_id'].nunique())
print("Number of icu stays/admissions: ", data_1['icustay_id'].nunique())

Number of patients:  46428
Number of icu stays/admissions:  61051

## Patient/ICU stay Filtering
1. Filter for the first ICU admission of each patient
2. Exclude patients from NICU/PICU
3. Filter for ICU stays that were at least 48h long
4. Exclude patients with data recorder for less thatn 48h

### 1. Filter for the first ICU admission of each patient
We included only the first admission of each patient in the ICU, which resulted in each patient having only one ICU admission.

In [6]:
data_2 = data_1.copy()
#data_2 = data_2[data_2['first_icu_stay_current_hosp'] == True]
#data_2 = data_2[data_2['first_icu_stay_patient'] == True] # unhash this line to reinclude filter

Test: Each patient should have only one ICU stayd and its respecitve hospital admission

In [7]:
print("Number of patients: ", data_2['subject_id'].nunique())
print("Number of admissions: ", data_2['hadm_id'].nunique())
print("Number of ICU stays: ", data_2['icustay_id'].nunique())

Number of patients:  46428
Number of admissions:  57328
Number of ICU stays:  61051

### 2. Exclude patients from NICU/PICU
Patients admitted to the neonatal intensive care unit (NICU) and pediatric
intensive care unit (PICU) were excluded.

In [8]:
data_2 = data_2[data_2.first_careunit != "NICU"]
data_2 = data_2[data_2.first_careunit != "PICU"]

TEST: It should be 38566 patients/icu stays

In [9]:
print("Number of patients: ", data_2['subject_id'].nunique())
print("Number of ICU stays: ",data_2['icustay_id'].nunique())

Number of patients:  38566
Number of ICU stays:  52964

In [10]:
data_2[["intime", "outtime", "los_icu", "deathtime_icu", "label_death_icu"]].head(3)

,intime,outtime,los_icu,deathtime_icu,label_death_icu
1,2101-10-20 19:10:11,2101-10-26 20:43:09,6.064560,NaT,0
2,2191-03-16 00:29:31,2191-03-17 16:46:31,1.678472,NaT,0
4,2175-05-30 21:30:54,2175-06-03 13:39:54,3.672917,NaT,0

### 3. Filter for ICU stays that were at least 24h long

In [11]:
data_3 = data_2.copy()
data_3 = data_3[data_3.los_icu >= 1] # each 1 in los_icu is equivalent to 24 hours (make sure this is sufficient for window sizes)

TEST: It should be 20396 patients/icu stays

In [12]:
print("Number of patients: ", data_3['subject_id'].nunique())
print("Number of icu stays: ", data_3['icustay_id'].nunique())

Number of patients:  33597
Number of icu stays:  44986

Temporary results of filtering

In [13]:
filtered_icustay_ids = pd.DataFrame(data_3['icustay_id'].unique(), columns=['icustay_id'])

In [14]:
list(data_3.columns)

['subject_id',
 'hadm_id',
 'icustay_id',
 'gender',
 'dod',
 'admittime',
 'dischtime',
 'los_hospital',
 'admission_age',
 'ethnicity',
 'ethnicity_grouped',
 'hospital_expire_flag',
 'hospstay_seq',
 'first_hosp_stay',
 'intime',
 'outtime',
 'los_icu',
 'icustay_seq',
 'first_icu_stay_current_hosp',
 'first_icu_stay_patient',
 'first_careunit',
 'deathtime_icu',
 'label_death_icu']

### 4. Exclude patients with data recorded for less than 48h
Excluded patients for whom the duration between the first and last observations of vital signs and laboratory tests was less than 48h, i.e. first_recorded_value - intime <= 48h. The duration was calculated as the last timestamp minus the first timestamp in the chartevents/labevents table.

In [15]:
# Drop measurements with no belonging icustay_id
pivoted_vital = pivoted_vital.dropna(subset=['icustay_id'])
pivoted_lab = pivoted_lab.dropna(subset=['icustay_id'])
print(len(pivoted_vital), len(pivoted_lab))
# Drop all rows only containing NaN values
pivoted_vital = pivoted_vital.dropna(how='all')
pivoted_lab = pivoted_lab.dropna(how='all')
print(len(pivoted_vital), len(pivoted_lab))
# Drop all duplicate rows
pivoted_vital = pivoted_vital.drop_duplicates()
pivoted_lab = pivoted_lab.drop_duplicates()
print(len(pivoted_vital), len(pivoted_lab))

# Leave only relevant columns
vital_colums = ['icustay_id', 'charttime', 'heartrate', 'sysbp', 'diasbp', 'meanbp', 'resprate', 'tempc', 'spo2', 'paco']
print(list(pivoted_vital.columns))
pivoted_vital = pivoted_vital[vital_colums]
#lab_columns = ['icustay_id', 'charttime', 'albumin', 'bun', 'bilirubin', 'lactate', 'bicarbonate', 'bands', 'chloride', 'creatinine', 'glucose',
#        'hemoglobin', 'hematocrit', 'platelet', 'potassium', 'ptt', 'sodium', 'wbc', 'ph']
lab_columns = ['icustay_id', 'charttime', 'wbc', 'ph']
print(list(pivoted_lab.columns))
pivoted_lab = pivoted_lab[lab_columns]

# Cast icustay_id types to int
pivoted_vital['icustay_id'] = pivoted_vital['icustay_id'].astype(int)
pivoted_lab['icustay_id'] = pivoted_lab['icustay_id'].astype(int)

# Keep only values of patients in previously filtered icustay_ids in labs and vitals
# But take all filtered patients (also ones that e.g. don't have any lab values recorded)
pivoted_vital = pivoted_vital.merge(filtered_icustay_ids, on='icustay_id', how='right').drop_duplicates()
#print(list(pivoted_vital.columns))
pivoted_lab = pivoted_lab.merge(filtered_icustay_ids, on='icustay_id', how='right').drop_duplicates()
print(list(pivoted_lab.columns))

9438523 1152620
9438523 1152620
9438523 1152620
['icustay_id', 'charttime', 'heartrate', 'sysbp', 'diasbp', 'meanbp', 'resprate', 'tempc', 'spo2', 'glucose', 'paco']
['icustay_id', 'hadm_id', 'subject_id', 'charttime', 'aniongap', 'albumin', 'bands', 'bicarbonate', 'bilirubin', 'creatinine', 'chloride', 'glucose', 'hematocrit', 'hemoglobin', 'lactate', 'platelet', 'potassium', 'ptt', 'inr', 'pt', 'sodium', 'bun', 'wbc', 'ph']
['icustay_id', 'charttime', 'wbc', 'ph']

Test: Number of ICU stays in vitals and labs should be the same as the filtered ones above - 20396

In [16]:
print("Number of ICU stays in pivoted_vital_filtered: ", pivoted_vital['icustay_id'].nunique())
print("Number of ICU stays in pivoted_lab_filtered: ", pivoted_lab['icustay_id'].nunique())

Number of ICU stays in pivoted_vital_filtered:  44986
Number of ICU stays in pivoted_lab_filtered:  44986

In [17]:
# Min of each lab and vitals
icustay_ids_charttime_min_lab = pivoted_lab[["icustay_id", "charttime"]][pivoted_lab.groupby("icustay_id")["charttime"].rank(ascending=1,method='dense') == 1]
icustay_ids_charttime_min_vital = pivoted_vital[["icustay_id", "charttime"]][pivoted_vital.groupby("icustay_id")["charttime"].rank(ascending=1,method='dense') == 1]
# Min of both combined
icustay_ids_charttime_min_vital_lab = pd.concat([icustay_ids_charttime_min_lab, icustay_ids_charttime_min_vital], ignore_index=True)
icustay_ids_charttime_min_vital_lab = icustay_ids_charttime_min_vital_lab[["icustay_id", "charttime"]][icustay_ids_charttime_min_vital_lab.groupby("icustay_id")["charttime"].rank(ascending=1,method='dense') == 1]

# Max of each lab and vitals
icustay_ids_charttime_max_lab = pivoted_lab[["icustay_id", "charttime"]][pivoted_lab.groupby("icustay_id")["charttime"].rank(ascending=0,method='dense') == 1]
icustay_ids_charttime_max_vital = pivoted_vital[["icustay_id", "charttime"]][pivoted_vital.groupby("icustay_id")["charttime"].rank(ascending=0,method='dense') == 1]
# Max of both combined
icustay_ids_charttime_max_vital_lab = pd.concat([icustay_ids_charttime_max_lab, icustay_ids_charttime_max_vital], ignore_index=True)
icustay_ids_charttime_max_vital_lab = icustay_ids_charttime_max_vital_lab[["icustay_id", "charttime"]][icustay_ids_charttime_max_vital_lab.groupby("icustay_id")["charttime"].rank(ascending=0,method='dense') == 1]

In [18]:
# Find for which icustay_ids there exist at least 48h of data
icustay_ids_vital_lab_charttime_min_max = pd.concat([icustay_ids_charttime_max_vital_lab, icustay_ids_charttime_min_vital_lab], ignore_index=True)
time_delta_48_hours = timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=48, weeks=0)
is_time_diff_bigger_48_lab = icustay_ids_vital_lab_charttime_min_max.groupby(['icustay_id'])['charttime'].transform(lambda x: (x.max()-x.min())) >= time_delta_48_hours

icustay_ids_vital_lab_charttime_min_max_filtered = icustay_ids_vital_lab_charttime_min_max[is_time_diff_bigger_48_lab]
print("Unique icu stays in icustay_ids_vital_lab_charttime_min_max_filtered after filtering", icustay_ids_vital_lab_charttime_min_max_filtered['icustay_id'].nunique())

# Keep only icustay ids for which at least 24h of data exists
icustay_ids_time_filtered = pd.DataFrame(icustay_ids_vital_lab_charttime_min_max_filtered['icustay_id'].unique(), columns=['icustay_id'])
print("Unique icu stays in icustay_ids_time_filtered: ", icustay_ids_time_filtered['icustay_id'].nunique())

Unique icu stays in icustay_ids_vital_lab_charttime_min_max_filtered after filtering 32807
Unique icu stays in icustay_ids_time_filtered:  32807

#### Final set of filtered icustay ids (filtered_icustay_ids)

In [19]:
filtered_icustay_ids = filtered_icustay_ids.merge(icustay_ids_time_filtered, on='icustay_id', how='inner').drop_duplicates()

Test: Final number of unique icustay ids should be 19414

In [20]:
print("Unique icu stays (final): ", filtered_icustay_ids['icustay_id'].nunique())

Unique icu stays (final):  32807

#### Create subset of all datasets (pivoted_lab, pivoted_vital, demographics) based on all exclusion criteria

In [21]:
demographics_filtered = data_3.merge(filtered_icustay_ids, on='icustay_id', how='right').drop_duplicates()
print("Number of ICU stays demographics: ", demographics_filtered['icustay_id'].nunique())

vital_filtered = pivoted_vital.merge(filtered_icustay_ids, on='icustay_id', how='right').drop_duplicates()
print("Number of ICU stays vitals: ", vital_filtered['icustay_id'].nunique())

lab_filtered = pivoted_lab.merge(filtered_icustay_ids, on='icustay_id', how='right').drop_duplicates()
print("Number of ICU stays labs: ", lab_filtered['icustay_id'].nunique())

Number of ICU stays demographics:  32807
Number of ICU stays vitals:  32807
Number of ICU stays labs:  32807

# DATA PREPARATION - ML format
Vital sign measurements were typically taken 0.5–1.5 times per hour for the MIMIC-III database, while laboratory measurements were typically taken 1–2 times per eight hours. Therefore, each vital sign variable was aggregated into a one-hour interval, whereas each laboratory variable was aggregated into an eight-hour interval. Repeated measurements in a single interval were aggregated by the median.

In [22]:
# Observation: The lab values and vital signs don't have the same starting time
vital_filtered[["icustay_id", "charttime"]][vital_filtered["icustay_id"] == 226799].sort_values("charttime").head(3), lab_filtered[["icustay_id", "charttime"]][lab_filtered["icustay_id"] == 226799].sort_values("charttime").head(3)

(         icustay_id           charttime
 5019977      226799 2153-07-31 08:00:00
 5019978      226799 2153-07-31 08:09:00
 5019979      226799 2153-07-31 08:10:00,
         icustay_id           charttime
 738395      226799 2153-07-30 23:27:00
 738396      226799 2153-07-30 23:33:00
 738397      226799 2153-07-31 01:26:00)

### Align time of entries of Labs & Vitals
Make sure that the vital & lab measurements of each patient start and end at the same time (so that both input time frames are ending up in the same timeframe) - The code below adds the same time steps with NaN values.

In [23]:
vital_filtered = vital_filtered.merge(lab_filtered[['icustay_id', 'charttime']], on=['icustay_id', 'charttime'], how='outer').drop_duplicates()
print("Number of ICU stays in vital_filtered: ", vital_filtered['icustay_id'].nunique())
lab_filtered = lab_filtered.merge(vital_filtered[['icustay_id', 'charttime']], on=['icustay_id', 'charttime'], how='outer').drop_duplicates()
print("Number of ICU stays in lab_filtered: ", lab_filtered['icustay_id'].nunique())

Number of ICU stays in vital_filtered:  32807
Number of ICU stays in lab_filtered:  32807

In [24]:
# Test: Now both, lab measurements and vital signs, should start at the same time (additional rows with NaN values).
vital_filtered[vital_filtered["icustay_id"] == 226799].sort_values("charttime").head(3), lab_filtered[lab_filtered["icustay_id"] == 226799].sort_values("charttime").head(3)

(         icustay_id           charttime  heartrate  sysbp  diasbp  meanbp  \
 7193503      226799 2153-07-30 23:27:00        NaN    NaN     NaN     NaN
 7193504      226799 2153-07-30 23:33:00        NaN    NaN     NaN     NaN
 7193505      226799 2153-07-31 01:26:00        NaN    NaN     NaN     NaN

          resprate  tempc  spo2  paco
 7193503       NaN    NaN   NaN   NaN
 7193504       NaN    NaN   NaN   NaN
 7193505       NaN    NaN   NaN   NaN  ,
         icustay_id           charttime  wbc    ph
 738395      226799 2153-07-30 23:27:00  0.3   NaN
 738396      226799 2153-07-30 23:33:00  NaN  7.29
 738397      226799 2153-07-31 01:26:00  NaN  7.21)

### Resample Vital Signs

In [25]:
vital_resampled = vital_filtered.copy()

# Resample from the end of the time series
vital_resampled = vital_resampled.assign(charttime=vital_resampled.charttime.dt.round('H'))
vital_resampled = vital_resampled.set_index('charttime').groupby('icustay_id').resample('1H', origin="end").median().drop(['icustay_id'], axis = 1).reset_index()
# Resample from the beginning of the time series
#vital_resampled = vital_resampled.set_index('charttime').groupby('icustay_id').resample('1H', origin="start").median().drop(['icustay_id'], axis = 1).reset_index()

#mark interpolation values for sirs classification
vital_interpol = vital_resampled[['icustay_id','charttime','tempc','heartrate','resprate','paco']].copy()
vital_interpol.rename(columns={'tempc':'tempc_inter','heartrate':'heartrate_inter','resprate':'resprate_inter','paco':'paco_inter'}, inplace = True)
vital_interpol = vital_interpol.fillna(0)

# Forward and backwards fill (use lambda function instead of directly applying it to groupby otherwise results from one group are carreid forward to another group...BAD)
# Fill NaNs (-1 or 0 or mean!?)
vital_col = vital_resampled.columns.drop(['icustay_id', 'charttime'])
vital_resampled = vital_resampled.set_index(['icustay_id', 'charttime']).groupby('icustay_id')[vital_col].transform(lambda x: x.ffill().bfill()).fillna(-1).reset_index()
#.fillna(value=vital_resampled[vital_columns].mean())#.fillna(0)#.fillna(-1)

print(vital_filtered[vital_filtered["icustay_id"]==229633].tail(9))
print(vital_resampled[vital_resampled["icustay_id"]==229633].tail(3))
print(vital_resampled.isnull().sum().sum())

# id 271896 has no entries in lab values, i.e. there will be NaN values filled with -1, mean, ... (whatever chosen)
vital_resampled[vital_resampled["icustay_id"]==271896]

         icustay_id           charttime  heartrate  sysbp  diasbp  meanbp  \
7349772      229633 2147-02-08 15:24:00        NaN    NaN     NaN     NaN
7349773      229633 2147-02-08 17:41:00        NaN    NaN     NaN     NaN
7349774      229633 2147-02-08 20:36:00        NaN    NaN     NaN     NaN
7349775      229633 2147-02-09 02:31:00        NaN    NaN     NaN     NaN
7349776      229633 2147-02-09 07:35:00        NaN    NaN     NaN     NaN
7349777      229633 2147-02-09 08:09:00        NaN    NaN     NaN     NaN
7349778      229633 2147-02-09 15:46:00        NaN    NaN     NaN     NaN
7349779      229633 2147-02-10 01:05:00        NaN    NaN     NaN     NaN
7349780      229633 2147-02-11 03:07:00        NaN    NaN     NaN     NaN

         resprate  tempc  spo2  paco
7349772       NaN    NaN   NaN   NaN
7349773       NaN    NaN   NaN   NaN
7349774       NaN    NaN   NaN   NaN
7349775       NaN    NaN   NaN   NaN
7349776       NaN    NaN   NaN   NaN
7349777       NaN    NaN   NaN   NaN
7349778       NaN    NaN   NaN   NaN
7349779       NaN    NaN   NaN   NaN
7349780       NaN    NaN   NaN   NaN
         icustay_id           charttime  heartrate  sysbp  diasbp  meanbp  \
1491788      229633 2147-02-11 01:00:00       78.0  120.0    54.0    69.0
1491789      229633 2147-02-11 02:00:00       78.0  120.0    54.0    69.0
1491790      229633 2147-02-11 03:00:00       78.0  120.0    54.0    69.0

         resprate      tempc  spo2  paco
1491788      20.0  36.777778  97.0  49.0
1491789      20.0  36.777778  97.0  49.0
1491790      20.0  36.777778  97.0  49.0
0

,icustay_id,charttime,heartrate,sysbp,diasbp,meanbp,resprate,tempc,spo2,paco
3610826,271896,2147-04-28 04:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3610827,271896,2147-04-28 05:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3610828,271896,2147-04-28 06:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3610829,271896,2147-04-28 07:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3610830,271896,2147-04-28 08:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...
3610918,271896,2147-05-02 00:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3610919,271896,2147-05-02 01:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3610920,271896,2147-05-02 02:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3610921,271896,2147-05-02 03:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3610922,271896,2147-05-02 04:00:00,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

Test for classification - This must run error free for running the code later

In [26]:
test = vital_resampled.copy()
test = test.groupby("icustay_id").head(48)
print(test.head(3))
print(test.groupby(["icustay_id"])["charttime"].nunique().unique())

   icustay_id           charttime  heartrate  sysbp  diasbp  meanbp  resprate  \
0      200001 2181-11-25 16:00:00      114.5  113.0    65.0    77.0      24.0
1      200001 2181-11-25 17:00:00      114.5  113.0    65.0    77.0      24.0
2      200001 2181-11-25 18:00:00      114.5  113.0    65.0    77.0      24.0

       tempc  spo2  paco
0  37.277778  94.5  43.0
1  37.277778  94.5  43.0
2  37.277778  94.5  43.0
[48]

### Resample Laboratory Measurements
Added bfill to make sure that those values are not NaN

In [27]:
lab_resampled = lab_filtered.copy()
# Cut out minutes and hours, so that the resampling of the 8h takes the same time span as the 1h samples (for vitals)
lab_resampled = lab_resampled.assign(charttime=lab_resampled.charttime.dt.round('H'))
# Resample from the end of the time series
lab_resampled = lab_resampled.set_index('charttime').groupby('icustay_id').resample('1h', origin="end").median().drop(['icustay_id'], axis = 1).reset_index()
#lab_resampled = lab_resampled.set_index('charttime').groupby('icustay_id').resample('8h', origin="start").median().drop(['icustay_id'], axis = 1).reset_index()

#mark interpolation values for sirs classification
lab_interpol = lab_resampled[['icustay_id','charttime','wbc']].copy()
print(lab_interpol.columns)
lab_interpol.rename(columns={'wbc':'wbc_inter'}, inplace = True)
print(lab_interpol.columns)
lab_interpol = lab_interpol.fillna(0)

# Forward and backwards fill (use transform instead of direct groupby otherwise results from one group are carreid forward to another group...BAD)
# Fill NaNs (-1 or 0 or mean!?)
lab_col = lab_resampled.columns.drop(['icustay_id', 'charttime'])
lab_resampled = lab_resampled.set_index(['icustay_id', 'charttime']).groupby('icustay_id')[lab_col].transform(lambda x: x.ffill().bfill()).fillna(-1).reset_index()

print(lab_filtered[lab_filtered["icustay_id"]==229633].tail(9))
print(lab_interpol[lab_interpol["icustay_id"]==229633].tail(9))
print(lab_resampled[lab_resampled["icustay_id"]==229633].tail(3))
print(lab_resampled.isnull().sum().sum())

Index(['icustay_id', 'charttime', 'wbc'], dtype='object')
Index(['icustay_id', 'charttime', 'wbc_inter'], dtype='object')
         icustay_id           charttime  wbc  ph
7349772      229633 2147-02-10 11:00:00  NaN NaN
7349773      229633 2147-02-10 11:27:00  NaN NaN
7349774      229633 2147-02-10 12:00:00  NaN NaN
7349775      229633 2147-02-10 13:00:00  NaN NaN
7349776      229633 2147-02-10 14:00:00  NaN NaN
7349777      229633 2147-02-10 14:01:00  NaN NaN
7349778      229633 2147-02-10 15:00:00  NaN NaN
7349779      229633 2147-02-10 16:00:00  NaN NaN
7349780      229633 2147-02-10 17:00:00  NaN NaN
         icustay_id           charttime  wbc_inter
1491782      229633 2147-02-10 19:00:00        0.0
1491783      229633 2147-02-10 20:00:00        0.0
1491784      229633 2147-02-10 21:00:00        0.0
1491785      229633 2147-02-10 22:00:00        0.0
1491786      229633 2147-02-10 23:00:00        0.0
1491787      229633 2147-02-11 00:00:00        0.0
1491788      229633 2147-02-11 01:00:00        0.0
1491789      229633 2147-02-11 02:00:00        0.0
1491790      229633 2147-02-11 03:00:00        0.0
         icustay_id           charttime  wbc    ph
1491788      229633 2147-02-11 01:00:00  6.4  7.46
1491789      229633 2147-02-11 02:00:00  6.4  7.46
1491790      229633 2147-02-11 03:00:00  6.4  7.46
0

Test for classification  - This must run error free for running the code later

In [28]:
test = lab_resampled.copy()
test = test.groupby("icustay_id").head(6)
print(test.head(3))
print(test.groupby(["icustay_id"])["charttime"].nunique().unique())

   icustay_id           charttime  wbc    ph
0      200001 2181-11-25 16:00:00  2.9  7.41
1      200001 2181-11-25 17:00:00  2.9  7.41
2      200001 2181-11-25 18:00:00  2.9  7.41
[6]

## Labels
Patients who died during their ICU stay were identified by the deathtime variable in
the admission table of MIMIC-III.

Patients who died during their stay in the ICU were included in the positive group (output = 1), and patients who survived to discharge were included in the negative group (output = 0).

This is done as part of icustay_detail.sql and stored in demographics_filtered.

### Add label to vital and lab datasets

In [29]:
final_vital = vital_resampled.merge(demographics_filtered[["icustay_id", "admission_age", "label_death_icu"]], on="icustay_id", how="right")
final_vital = pd.merge(final_vital, vital_interpol,  how='left', left_on=['icustay_id','charttime'], right_on = ['icustay_id','charttime'])
#print("Number of ICU stays in final_vitals: ", final_vital['icustay_id'].nunique())

final_lab = lab_resampled.merge(demographics_filtered[["icustay_id"]], on="icustay_id", how="right")
final_lab = pd.merge(final_lab, lab_interpol,  how='left', left_on=['icustay_id','charttime'], right_on = ['icustay_id','charttime'])
#print("Number of ICU stays in final_lab: ", final_lab['icustay_id'].nunique())

final_vital_lab = pd.merge(final_vital, final_lab,  how='left', left_on=['icustay_id','charttime'], right_on = ['icustay_id','charttime'])
print("Number of ICU stays in final_vital_lab: ", final_vital_lab['icustay_id'].nunique())

Number of ICU stays in final_vital_lab:  32807

In [30]:
demographics_filtered["label_death_icu"].value_counts()

0    29937
1     2870
Name: label_death_icu, dtype: int64

### Sirs Filter

In [31]:
# initialize SIRS sepsis detection array with 0
sirs_labels = np.zeros((len(final_vital_lab.index),), dtype=int)

icu_id = -1
sirs_cnt = 0
interpolHours = []

for i,hadm_data in final_vital_lab.iterrows():
    if hadm_data.loc['icustay_id'] != icu_id:
        icu_id = hadm_data.loc['icustay_id']
        interpolHours = []
        sirs_cnt = 0
    
    cnt = 0
    interpolation = 0

    # Criteria 1: (temperature)
    if hadm_data.loc['tempc'] < 36 or hadm_data.loc['tempc'] > 38:
        cnt += 1
        if hadm_data.loc['tempc_inter'] > 0:
            interpolation += 1

    # Criteria 2: (heart rate)
    if hadm_data.loc['heartrate'] > 90:
        cnt += 1
        if hadm_data.loc['heartrate_inter'] > 0:
            interpolation += 1
                    
    # Criteria 3: (respiration rate or partial CO2 pressure)
    if hadm_data.loc['resprate'] > 20 or hadm_data.loc['paco'] < 32:
        cnt += 1
        if (hadm_data.loc['resprate'] > 20 and hadm_data.loc['resprate_inter'] > 0) and hadm_data.loc['paco'] >= 32:
            interpolation += 1
        elif (hadm_data.loc['paco'] < 32 and hadm_data.loc['paco_inter'] > 0) and hadm_data.loc['resprate'] <= 20:
            interpolation += 1
        elif (hadm_data.loc['resprate'] > 20 and hadm_data.loc['resprate_inter'] > 0) and (hadm_data.loc['paco'] < 32 and hadm_data.loc['paco_inter'] > 0):
            interpolation += 1
                    
    # Criteria 4: (white blood cell count)
    if hadm_data.loc['wbc'] < 4 or hadm_data.loc['wbc'] > 12:
        cnt += 1
        if hadm_data.loc['wbc_inter'] > 0:
            interpolation += 1

    # if 2 or more sirs criterias are reached
    if cnt >= 2: sirs_cnt += 1
    else: sirs_cnt = 0

    if (cnt - interpolation) < minNoInterpolCrit:# At least 2 Values for each hour of measurement
        interpolHours.append(1)
    else: interpolHours.append(0)

    # if 5 hour sirs interval is reached and interpolated hours is less than set max 
    # and sepsis3 icd9 code present then mark interval and reset count
    if sirs_cnt >= sirs_window_size and sum(interpolHours[-5:]) > maxInterpolHours and hadm_data.loc['icustay_id'] in pivoted_sepsis_list:
        
        sirs_labels[i-4] = 1
        sirs_labels[i-3] = 1
        sirs_labels[i-2] = 1
        sirs_labels[i-1] = 1
        sirs_labels[i] = 1
        sirs_cnt = 0

final_vital_lab['sepsisD'] = sirs_labels

In [32]:
print(final_vital_lab['sepsisD'].value_counts())
print(final_vital_lab['icustay_id'].nunique())

0    4654775
1     356840
Name: sepsisD, dtype: int64
32807

### Some Statistical Information

Demogrpahics

In [33]:
#demographics_filtered.describe()

In [34]:
#demographics_filtered[demographics_filtered["label_death_icu"]==1].describe()

In [35]:
#demographics_filtered[demographics_filtered["label_death_icu"]==0].describe()

Vital Signs

In [36]:
#final_vital.describe()
#final_vital_lab.describe()

Lab Measurements

In [37]:
#final_lab.describe()

In [38]:
#demographics_filtered.describe()

### Write Final Datasets into Postgres

In [39]:
'''
engine = create_engine('postgresql://mimicuser:mimic3@localhost:5432/mimic3')

#demographics_final.to_sql('demographics_final', engine, if_exists='replace')
final_vital.to_sql('vital_resampled', engine, if_exists='replace')
final_lab.to_sql('lab_resampled', engine, if_exists='replace')
'''

"\nengine = create_engine('postgresql://mimicuser:mimic3@localhost:5432/mimic3')\n\n#demographics_final.to_sql('demographics_final', engine, if_exists='replace')\nfinal_vital.to_sql('vital_resampled', engine, if_exists='replace')\nfinal_lab.to_sql('lab_resampled', engine, if_exists='replace')\n"

### Write Final Datasets into CSV files (alternative to postgres)

In [40]:
final_vital_lab.to_csv(r'vitals_labs.csv', index=False)
final_vital_lab = pd.read_csv('vitals_labs.csv')

### Windowing

In [41]:
def windowing(vital_lab_df, lb, pt):
    sepsis_encounter = -1
    icu_id = -1
    entry_cnt = 0

    # initialize dataframe for windows and label
    windows = pd.DataFrame(columns = ['window', 'label'])
    # initialize temp array for storing current icu stay data
    temp_stay = np.zeros((0, len(columns_pred)), float)

    for i,hadm_data in vital_lab_df.iterrows():

        # if icu stay changes or last icu entry (1hr timesteps)
        if hadm_data.loc['icustay_id'] != icu_id or i == (len(vital_lab_df.index) - 1):

            # if septic
            if sepsis_encounter >= (lb + pt) and sepsis_encounter != -1:
                # access from temp by sepsis encounter, transpose to get the shape [[sysbp],[diasbp],...] and store
                windows = windows.append({'window':temp_stay[(sepsis_encounter - lb - pt + 1) : (sepsis_encounter - pt + 1)], 'label':1}, ignore_index=True)
                
            # if not septic (+3 is used to accommodate the second-before-last indexing, change to +1 otherwise) and sepsis3 classification not present
            elif entry_cnt >= (lb + pt + 3) and sepsis_encounter == -1 and not icu_id in pivoted_sepsis_list:
                # access from temp by entry count for prediction on second-before-last hour of end of stay (add +2 to indexes to predict on last) and store
                windows = windows.append({'window':temp_stay[(entry_cnt - lb - pt - 2) : (entry_cnt - pt - 2)], 'label':0}, ignore_index=True)

            icu_id = hadm_data.loc['icustay_id']
            sepsis_encounter = -1
            entry_cnt = 0

            # reset temp
            temp_stay = np.zeros((0, len(columns_pred)), float)

        # add data to temp in columns_pred format
        temp_stay = np.append(temp_stay,np.array([np.array([hadm_data[d] for d in columns_pred])]),axis=0)  

        # if first encounter of identified sirs interval in this icu stay mark encounter on current admission
        if hadm_data.loc['sepsisD'] != 0 and sepsis_encounter == -1 and entry_cnt >= (lb+pt+sirs_window_size):
            sepsis_encounter = entry_cnt
        
        entry_cnt += 1

    return windows

In [42]:
# build windows
for lb in LOOKBACK:
    for pt in LOOKAHEAD:

        windows = windowing(final_vital_lab, lb, pt)
        
        print('Lookback: '+str(lb)+' Lookahead: '+str(pt))
        print(windows['label'].value_counts())

        # save windows
        windows.to_pickle(window_loc+'Windows_lookback_'+str(lb)+'_lookahead_'+str(pt)+'.pkl')

Lookback: 5 Lookahead: 3
0    27149
1     4043
Name: label, dtype: int64
Lookback: 5 Lookahead: 6
0    27149
1     3994
Name: label, dtype: int64
Lookback: 5 Lookahead: 12
0    27149
1     3900
Name: label, dtype: int64
Lookback: 10 Lookahead: 3
0    27149
1     3966
Name: label, dtype: int64
Lookback: 10 Lookahead: 6
0    27149
1     3913
Name: label, dtype: int64
Lookback: 10 Lookahead: 12
0    27149
1     3812
Name: label, dtype: int64
Lookback: 24 Lookahead: 3
0    27149
1     3732
Name: label, dtype: int64
Lookback: 24 Lookahead: 6
0    27149
1     3684
Name: label, dtype: int64
Lookback: 24 Lookahead: 12
0    27149
1     3567
Name: label, dtype: int64